<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<br><br><br><br><br>
<br><br><br><br><br>
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" align="center">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	    <h1>MARCELA PAZ</h1>
	       <img th:src="@{/imagenes/marcel.jpg}" class="d-block w-30" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>SHAKESPEARE</h1>
	      <img th:src="@{/imagenes/shakespeare.jpg}" class="d-block w-50" alt="...">
	    </div>
	    <div class="carousel-item">
	    <h1>GABRIELA MISTRAL</h1>
	       <img th:src="@{/imagenes/gabriela.jpg}" class="d-block w-30" alt="...">
	    </div>
	    <div class="carousel-item">
	    <h1>MIGUEL DE CERVANTES</h1>
	       <img th:src="@{/imagenes/miguel.jpg}" class="d-block w-50" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>SIGMUND FREUD</h1>
	       <img th:src="@{/imagenes/sigmund.jpg}" class="d-block w-50" alt="..." >
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>
</body>
</html>